* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  align-items: center;
  margin-top: 50px;
}

.wrapper h2{
  font-family: 'poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.container {
  background-color: rgb(104, 102, 102);
  width: 30%;
  margin: auto;
}

.output {
  margin-top: 20px;
}

.output p {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 2.1rem;
  padding-left: 90%;
  font-weight: 600;
}

.buttons {
  background-color: #e0e0e0;
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #cbcbcb;
}

.zero {
  width: 50%;
}

.operator {
  background-color: #f5913e;
}

button:hover {
  cursor: pointer;
}