* {
  margin: 0;
  padding: 0;
}

.quote-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cal-contanier {
  width: 50%;
}

.wrapper {
  display: block;
  align-items: center;
  margin-top: 50px;
}

.wrapper h2 {
  font-family: 'poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.container {
  background-color: rgb(104, 102, 102);
  width: auto;
}

.output {
  margin-top: 20px;
}

.output p {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 2.1rem;
  padding-left: 65%;
  font-weight: 600;
}

.buttons {
  background-color: #e0e0e0;
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #cbcbcb;
}

.zero {
  width: 50%;
}

.operator {
  background-color: #f5913e;
}

button:hover {
  cursor: pointer;
}

.quote {
  width: 35%;
  margin-top: 100px;
  margin-left: 10px;
}

.qoutes {
  width: 100%;
  border: 2px solid;
}

.qoutes h1 {
  color: rgb(94, 94, 237);
  font-size: 1.3rem;
  text-align: center;
  padding: 4px 0;
  text-decoration: underline;
}
